
.full div{
    border: 1px solid rgb(185, 179, 179);
    width: 200px;
    height: 220px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
.full{
    display: flex;
    position: relative;
    left: 300px;
    
} 

.full div img{
    width: 100px;
    height: 100px;
    
    
}
.full button{
    background-color: green;
    color: white;
}

.full .rup{
    color: blue;
}





.ful div{
    border: 1px solid rgb(185, 179, 179);
    width: 200px;
    height: 250px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    
}
.ful{
    display: flex;
    position: relative;
    left: 300px;
    
}

.ful div img{
    width: 100px;
    height: 100px;
    
    
}
.ful button{
    background-color: green;
    color: white;
}


.ful .rup{
    color: blue;
}
